/*
 * links-page.css
 * This file contains the main styles for the Links Page project.
 * It defines the visual appearance, layout, and responsiveness of the page.
 */

/* Root variables for consistent styling */
:root {
	--bg: #fefefe; /* Background color of the body */
	--font: 'Open Sans', 'Arial', sans-serif; /* Default font family */
	--bg-link: #dedede; /* Background color for regular links */
	--color-link: #333; /* Text color for regular links */
	--bg-link-hover: #fffefe; /* Background color for links on hover */
	--color-link-hover: #43dd9d; /* Text color for links on hover */
}

/* Universal box-sizing for all elements */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	background: var(--color-bg);
	font-family: var(--font);
  font-optical-sizing: auto;
	text-align: center;
	padding: 2em 0;
}

/* Fade-in animation for elements */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* General container styles */
.container {
	max-width: 55em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* About section styles (header) */
.about {
	text-align: center;
	color: #333;
	margin-bottom: 3em;
}

.about img {
	width: 80%;
	max-width: 21em;
	height: auto;
	margin: 2em auto;
}

.about img.picture {
	max-width: 9em;
	border: .3em solid #fff;
	box-shadow: 0 .3em .5em rgba(121, 121, 121, 0.2);
}

.about h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.about p {
	font-size: 1em;
}

/* Social links section styles */
.social-links {
	text-align: center;
	margin-bottom: 3em;
	animation: fade 1s ease forwards;
}

.social-links a.link {
	text-decoration: none;
	color: var(--color-link);
	padding: .5em;
	cursor: pointer;
	opacity: .9;
	border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

.social-links a.link:hover {
	opacity: 1;
	border-bottom: 2px solid var(--color-link-hover);
}

.social-links a.link img.icon {
	width: 2.1em;
	height: auto;
}

/* Main links section styles */
.links {
	text-align: center;
	margin-bottom: 3em;
	animation: fade 1s ease forwards;
}

.links a.link {
	background-color: #ddd;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: var(--color-link);
	padding: 1.5em;
	margin-top: 1em;
	cursor: pointer;
	display: block;
	border-radius: 1em;
	border: 1px solid transparent;
    transition: all 0.2s ease;
}

.links a.link:hover {
	background-color: #fffefe;
	color: var(--color-link-hover);
	border: 1px solid var(--color-link-hover);
	box-shadow: 0 .3em .5em rgba(121, 121, 121, 0.2);
}

.links a.link-img {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: var(--color-link);
	padding: 0;
	margin-top: 1em;
	cursor: pointer;
	display: block;
	border-radius: 1em;
    transition: all 0.2s ease;
}

.links a.link-img img {
	width: 100%;
	height: auto;
	border-radius: 1em;
	margin: 0;
}

.links a.link-img:hover {
	box-shadow: 0 .3em .5em rgba(121, 121, 121, 0.2);
}

.links a.link img.icon {
	float: left;
	position: relative;
	width: 2.1em;
	height: auto;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: -.5em -2em -.5em 0;
}

/* Footer styles */
footer {
	margin-bottom: 3em;
	font-size: .9em;
	color: #777;
}
